eval `ssh-agent`

dbus-update-activation-environment --systemd DISPLAY
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets)
export SSH_AUTH_SOCK
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

xsetroot -cursor_name left_ptr

{% for command in startup_applications %}
{{ command }} &
{% endfor %}

{% for command in startup_applications_with_autorestart %}
~/.xmonad/scripts/run_and_autorestart.sh {{ command }} &
{% endfor %}

exec ck-launch-session dbus-launch --sh-syntax --exit-with-session xmonad
