# Lines configured by zsh-newuser-install
HISTFILE=~/.zsh_history
HISTSIZE=10000 SAVEHIST=10000 setopt appendhistory autocd extendedglob
bindkey -e

autoload -Uz compinit promptinit
compinit

#History Search
autoload -Uz up-line-or-beginning-search down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search

[[ -n "$key[Up]"   ]] && bindkey -- "$key[Up]"   up-line-or-beginning-search
[[ -n "$key[Down]" ]] && bindkey -- "$key[Down]" down-line-or-beginning-search

#Auto rehash
zstyle ':completion:*' rehash true


source ~/.local/bin/antigen.zsh

# Load the oh-my-zsh's library.
antigen use oh-my-zsh

# Bundles from the default repo (robbyrussell's oh-my-zsh).
antigen bundle git
antigen bundle command-not-found

# Syntax highlighting bundle.
antigen bundle zsh-users/zsh-syntax-highlighting

# Load the theme.
antigen theme robbyrussell

# Tell Antigen that you're done.
antigen apply

export QT_QPA_PLATFORMTHEME=qt5ct
export BROWSER="{{ web_browser }}"
export EDITOR="{{ text_editor }}"
export GOPATH=$HOME/go

PATH=$PATH:$GOPATH/bin
PATH=$PATH:/usr/sbin:/sbin
PATH=$PATH:$HOME/.local/bin

alias t='todocli -d ~/.config/todo.cfg'
alias vim='nvim'
eval $(thefuck --alias)
