#!/bin/sh

REPOSITORY={{ borg_backup_repository }}

export BORG_PASSPHRASE='{{ borg_backup_passphrase }}'

echo 'Starting Borg backup'
borg create -v --stats --compression lz4 \
    ${REPOSITORY}::'{hostname}-froidmpa-{now:%Y-%m-%dT%H:%M:%S}' \
{% for include_path in borg_backup_include_paths %}
    {{ include_path }} \
{% endfor %}
{% for exclude_path in borg_backup_exclude_paths %}
    --exclude {{ exclude_path }} \
{% endfor %}

# If there is an error backing up, reset password envvar and exit
if [ "$?" = "1" ] ; then
    export BORG_PASSPHRASE=""
    exit 1
fi

# Use the `prune` subcommand to maintain 14 daily, 8 weekly and 12 monthly
# archives of THIS machine. The '{hostname}-' prefix is very important to
# limit prune's operation to this machine's archives and not apply to
# other machine's archives also.
borg prune -v --list ${REPOSITORY} --prefix '{hostname}-' \
    --keep-hourly={{ borg_backup_retention_hourly }} --keep-daily={{ borg_backup_retention_daily }} --keep-weekly={{ borg_backup_retention_weekly }} --keep-monthly={{ borg_backup_retention_monthly }}

# Unset the password
export BORG_PASSPHRASE=""

exit 0
